*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(23, 38, 97); */
}
main{
    width: 1024px;
    height: 100vh;
    /* background-color: aqua; */
    position: relative;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 50% auto;
    color: white;
    background-color: rgb(12, 12, 13);
    padding: 30px;
}
input{
    padding: 6px;
    border: none;
    border-radius:5px;
    width: 290px;
}
.inputNom{
    width: 150px;
}
.inputContainer{
    position: relative;
}
.btn{
    position: absolute;
    padding: 6px;
    border: none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    right: 0;
    background-color:rgb(54, 185, 54);
    cursor: pointer;
}
.newsletterInfo>h2,.specialOffers{
    color: rgb(54, 185, 54);;
}
@media screen and (max-width:768px) {
    .newsletter{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:space-around;
    }
    .newsletterInfo{
        margin-bottom: 20px;
        margin-left: -90px;

    }
}
@media screen and (max-width:425px) {
    .newsletter{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:space-around;
    }
    .newsletterInfo{
        margin-bottom: 20px;
        margin-left: 0px;
        padding: 8px;

    }
    input{
        padding: 8px;
        border: none;
        border-radius:5px;
        width: 340px;
    }
    .inputNom{
        width: 340px;
        margin-bottom: 20px;
    }
    .newsletterInfo>h2,.specialOffers{
        color: rgb(54, 185, 54);
        margin-bottom: 20px;
        text-align: center;
    }
    .btn{
        padding: 8px;
    }
}
@media screen and (max-width:425px) {
    .newsletter{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:space-around;
    }
    .newsletterInfo{
        margin-bottom: 20px;
        margin-left: 0px;
        padding: 8px;

    }
    input{
        padding: 8px;
        border: none;
        border-radius:5px;
        width: 290px;
    }
    .inputNom{
        width: 290px;
        margin-bottom: 20px;
    }
    .newsletterInfo>h2,.specialOffers{
        color: rgb(54, 185, 54);
        margin-bottom: 20px;
        text-align: center;
    }
    .btn{
        padding: 8px;
    }
}